{% extends 'adminpages/base.html' %}
{% load static %}
{% block pagecontent %}
        <div class="container-fluid">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
            </div>
            {% if 'insertSupplier' in request.session.staff_permission.values %}
            <a class="btn btn-primary" href="{% url 'supplieraddadmin' %}">Create</a>
            {% endif %}
            
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>  
                      <th>Email</th>  
                      <th>Phone</th>
                      <th>Address</th> 
                      <th>Action</th>     
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>  
                      <th>Email</th>  
                      <th>Phone</th>
                      <th>Address</th> 
                      <th>Action</th>           
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for item in supplier %}
                  <tr>
                      <td>{{item.supplierID}}</td>
                      <td>{{item.supplierName}}</td>
                      <td>{{item.supplierEmail}}</td>
                      <td>{{item.supplierPhone}}</td>
                      <td>{{item.supplierAddress}}</td>                  
                      
                      <td>
                        {% if 'updateSupplier' in request.session.staff_permission.values %}
                        <button class="btn btn-primary" onclick="window.location.href='{% url 'suppliereditadmin' item.supplierID %}'">Sửa</button>
                        {% endif %}
                        {% if 'deleteSupplier' in request.session.staff_permission.values %}
                        <button class="btn btn-danger"  onclick="deleteSupplier({{item.supplierID}})">Xóa</button>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
               
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <script>
            
            function deleteSupplier(id){
              $.ajax({
                type: 'POST',
                url: "{% url 'supplierdeleteadmin' %}",
                data: {'id':id, 'csrfmiddlewaretoken':'{{csrf_token}}'},
              success: function(data, textStatus, xhr) {
                console.log("hello"+xhr.status);
                if(xhr.status == 200){
                  alert("you have delete this category");
                }
              },
              error: function(xhr, textStatus) {
                console.log("bye"+xhr.status);
                if(xhr.status == 400){
                  alert("something was wrong");
                }
              } 
              });
            }

          </script> 
 {% endblock %}